@charset "UTF-8";
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
::before,
::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
  color: #3c3c3c;
  font-family: 'Montserrat', "Arial", sans-serif;
  font-size: 16px;
  line-height: 29px;
  background-color: #f1f1f1;
}

img {
  max-width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

a {
  text-decoration: none;
  outline-color: #ffc600;
  -webkit-transition: .2s;
  transition: .2s;
}

p {
  margin-top: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 233px;
  height: 45px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0 0 13px rgba(255, 198, 0, 0.18), 0 3px 0 #be9400;
          box-shadow: 0 0 13px rgba(255, 198, 0, 0.18), 0 3px 0 #be9400;
  border-radius: 5px;
  background-color: #000000;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ffc600), to(#ffde00));
  background-image: linear-gradient(to top, #ffc600 0%, #ffde00 100%);
  outline-color: #be9400;
  font: inherit;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  margin: 0 auto;
}

.button:hover {
  -webkit-box-shadow: 0 1px 1px #be9400, 0 0 13px rgba(255, 198, 0, 0.18);
          box-shadow: 0 1px 1px #be9400, 0 0 13px rgba(255, 198, 0, 0.18);
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-input {
  width: 306px;
  height: 45px;
  border-radius: 5px;
  border: 1px solid #6f6f6f;
  padding: 0 22px;
  font-family: "Century Gothic", sans-serif;
  font-size: 14px;
  line-height: 45px;
  font-weight: 400;
  outline-color: #ffc600;
  margin-bottom: 14px;
}

.form-input::-webkit-input-placeholder {
  color: #a0a0a0;
}

.form-input:-ms-input-placeholder {
  color: #a0a0a0;
}

.form-input::-ms-input-placeholder {
  color: #a0a0a0;
}

.form-input::placeholder {
  color: #a0a0a0;
}

.form-button {
  width: 233px;
  height: 45px;
  border: none;
  -webkit-box-shadow: 0 3px 0 #be9400, 0 0 13px rgba(255, 198, 0, 0.18);
          box-shadow: 0 3px 0 #be9400, 0 0 13px rgba(255, 198, 0, 0.18);
  border-radius: 5px;
  background-color: #000000;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ffc600), to(#ffde00));
  background-image: linear-gradient(to top, #ffc600 0%, #ffde00 100%);
  outline-color: #be9400;
  font: inherit;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.form-button:hover {
  -webkit-box-shadow: 0 1px 1px #be9400, 0 0 13px rgba(255, 198, 0, 0.18);
          box-shadow: 0 1px 1px #be9400, 0 0 13px rgba(255, 198, 0, 0.18);
}

@media (max-width: 1000px) {
  .form .form-button {
    width: 306px;
    margin-bottom: 15px;
  }
}

@media (max-width: 425px) {
  .form .form-input {
    width: 290px;
    font-size: 13px;
  }
  .form .form-button {
    width: 290px;
    font-size: 14px;
  }
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  min-height: 70px;
}

.header__nav li:not(:last-child) {
  margin-right: 40px;
}

.header__nav li a {
  color: #3c3c3c;
  font-size: 14px;
  font-weight: 500;
  line-height: 44px;
}

.header__nav li a:hover,
.header__nav li a:focus {
  color: #ffc600;
}

.header__phones {
  margin-top: 15px;
  padding-left: 55px;
  background: url("../img/viber.png") no-repeat left center;
  background-size: 45px;
  text-align: right;
}

.header__phone {
  color: #3c3c3c;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
}

.header__phone:focus, .header__phone:hover {
  color: #ffc600;
}

.header__burger {
  display: none;
  margin-right: 15px;
  height: 28px;
  width: 40px;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(19%, #ffc600), color-stop(20%, transparent), color-stop(40%, transparent), color-stop(41%, #ffc600), color-stop(60%, #ffc600), color-stop(61%, transparent), color-stop(79%, transparent), color-stop(80%, #ffc600));
  background: linear-gradient(to top, #ffc600 19%, transparent 20%, transparent 40%, #ffc600 41%, #ffc600 60%, transparent 61%, transparent 79%, #ffc600 80%);
  cursor: pointer;
}

.header__burger--active {
  height: 28px;
  width: 40px;
  background: linear-gradient(45deg, transparent 45%, #ffc600 46%, #ffc600 55%, transparent 56%), linear-gradient(-45deg, transparent 45%, #ffc600 46%, #ffc600 55%, transparent 56%);
}

@media (max-width: 1000px) {
  .header__burger {
    display: block;
    z-index: 100;
  }
  .header__nav {
    position: fixed;
    top: 0;
    right: 0;
    padding: 55px 30px 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    background-color: #ffffff;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    z-index: 10;
  }
  .header__nav li:not(:last-child) {
    margin: 0;
    padding: 0;
  }
  .header__nav.show {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@media (max-width: 540px) {
  .header__phone {
    font-size: 22px;
  }
}

@media (max-width: 425px) {
  .header__phone {
    font-size: 18px;
  }
  .header__phones {
    padding-left: 40px;
    background-size: 35px;
  }
}

.top__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top__image {
  margin-left: -150px;
  position: relative;
}

.top__offer {
  position: absolute;
  right: 40px;
  bottom: 40px;
  background: #ffffff;
  min-width: 257px;
  min-height: 117px;
  -webkit-box-shadow: 0 4px 0 #ffc600, 0 6px 13px rgba(0, 0, 0, 0.57);
          box-shadow: 0 4px 0 #ffc600, 0 6px 13px rgba(0, 0, 0, 0.57);
  border-radius: 7px;
  background-color: #ffffff;
  padding: 5px 12px;
}

.top__offer p {
  margin: 0;
  padding: 0;
}

.top__h1 {
  margin-top: 80px;
  margin-bottom: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 48px;
  background-color: #ffc600;
  padding: 0 25px;
}

.top__subtitle {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: 500;
  line-height: 40px;
}

.top__text {
  display: inline-block;
  max-width: 300px;
  padding-left: 13px;
  border-left: 2px solid #ffc600;
  color: #3c3c3c;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  margin-bottom: 0;
}

.top__list {
  padding-left: 0px;
  list-style-type: none;
  margin-top: 15px;
}

.top__list li::before {
  content: "•";
  margin-right: 10px;
  font-size: 20px;
  color: #b04137;
}

.top__submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top__submit p {
  font: inherit;
  color: #3c3c3c;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.62px;
  margin-left: 22px;
  line-height: 15px;
  margin-bottom: 0;
}

.top__submit p span {
  color: #ffc600;
  font-weight: 700;
  letter-spacing: 0.62px;
}

.offer__title {
  color: #ffc600;
  font-size: 18px;
  font-weight: 700;
}

.offer__name {
  color: #2d2d2d;
  width: 230px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.offer__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 10px;
}

.offer__price--after {
  color: #ffc600;
  font-size: 33px;
  font-weight: 700;
}

.offer__price--before {
  color: #2d2d2d;
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
}

.offer__price--before span {
  display: block;
  width: 75px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-decoration: line-through;
}

@media (max-width: 1200px) {
  .top__h1 {
    font-size: 27px;
  }
  .top__image {
    margin-left: -100px;
  }
}

@media (max-width: 1120px) {
  .top__h1 {
    font-size: 22px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .top__subtitle {
    font-size: 21px;
  }
  .top__wrapper {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .top__image {
    margin-left: -100px;
    margin-top: 40px;
  }
}

@media (max-width: 1000px) {
  .top__image {
    width: 50%;
    margin-left: 0;
  }
  .top__h1 {
    margin-top: 40px;
    font-size: 17px;
  }
  .top__subtitle {
    font-size: 16px;
  }
  .top__list {
    font-size: 15px;
  }
  .top__submit {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .top__submit p {
    margin-left: 0;
  }
}

@media (max-width: 768px) {
  .top__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .top__image {
    width: 80%;
  }
  .top__h1 {
    font-size: 25px;
  }
  .top__subtitle {
    font-size: 23px;
  }
  .top__list {
    font-size: 19px;
  }
}

@media (max-width: 540px) {
  .top__image {
    width: 100%;
  }
  .top__h1 {
    font-size: 18px;
  }
  .top__subtitle {
    font-size: 17px;
  }
  .top__list {
    font-size: 16px;
  }
  .top__offer {
    min-width: auto;
  }
  .offer__price {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 28px;
    font-weight: 700;
    padding-top: 0;
  }
  .offer__price--after {
    font-size: 28px;
  }
  .offer__price--before {
    font-size: 11px;
  }
  .offer__price--before span {
    display: inline-block;
  }
}

@media (max-width: 425px) {
  .top__h1 {
    padding: 0 7px;
    font-size: 15px;
  }
  .top__subtitle {
    font-size: 13px;
  }
  .top__list {
    font-size: 12px;
  }
  .top__offer {
    right: 0;
    bottom: 0;
  }
  .offer__name {
    width: 150px;
    font-size: 13px;
  }
  .offer__price {
    font-size: 20px;
  }
  .offer__price--after {
    font-size: 20px;
  }
  .offer__price--before {
    font-size: 10px;
  }
  .offer__price--before span {
    font-size: 14px;
  }
}

.offers {
  margin-top: 100px;
}

.offers__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.offers__item {
  width: 30%;
  background-color: #ffffff;
  padding: 0 20px 20px;
  text-align: center;
  margin-bottom: 30px;
  -webkit-box-shadow: 0 7px 16px rgba(0, 0, 0, 0.12);
          box-shadow: 0 7px 16px rgba(0, 0, 0, 0.12);
  border-radius: 7px;
  border: 1px solid #f4f4f4;
  position: relative;
}

.item__slider {
  padding: 0 20px;
}

.item__big-images {
  width: 270px;
  margin-bottom: 20px;
}

.item__small-images {
  height: 42px;
}

.item__small-images img {
  border-radius: 50%;
}

.item__name {
  color: #181818;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 10px;
}

.item__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #181818;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  margin-bottom: 15px;
}

.item__details span {
  padding-top: 45px;
  width: 33%;
}

.item__details--v {
  background: url("../img/liter.png") no-repeat top center;
}

.item__details--kg {
  background: url("../img/weight.png") no-repeat top center;
}

.item__details--d {
  background: url("../img/diametr.png") no-repeat top center;
}

.item__prices--after {
  color: #ffc600;
  font-size: 35px;
  font-weight: 700;
}

.item__prices--before {
  color: #c9c9c9;
  font-size: 20px;
  font-weight: 500;
  text-decoration: line-through;
}

.item__sale {
  position: absolute;
  display: block;
  width: 104px;
  line-height: 34px;
  top: 18px;
  left: -1px;
  background-color: #ffc600;
  color: #3c3c3c;
  font-size: 24px;
  font-weight: 400;
}

.item__small-images img {
  border: 1px solid transparent;
}

.item__small-images .slick-current {
  border: 1px solid #ffc600;
  outline: none;
}
/*# sourceMappingURL=main.css.map */